
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link" id="v-pills-dashboard-tab" data-toggle="pill" href="#v-pills-dashboard" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">Dashboard</a>
      <a class="nav-link" id="v-pills-statistics-tab" data-toggle="pill" href="#v-pills-statistics" role="tab" aria-controls="v-pills-statistics" aria-selected="false">Statistics</a>
      <a class="nav-link" id="v-pills-sitesAndZones-tab" data-toggle="pill" href="#v-pills-sitesAndZones" role="tab" aria-controls="v-pills-sitesAndZones" aria-selected="false">Sites and zones</a>
      <a class="nav-link" id="v-pills-payments-tab" data-toggle="pill" href="#v-pills-payments" role="tab" aria-controls="v-pills-payments" aria-selected="false">Payments</a>
      <a class="nav-link" id="v-pills-support-tab" data-toggle="pill" href="#v-pills-support" role="tab" aria-controls="v-pills-support" aria-selected="false">Support</a>
      <a class="nav-link" id="v-pills-api-tab" data-toggle="pill" href="#v-pills-api" role="tab" aria-controls="v-pills-api" aria-selected="false">API</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
      <a class="nav-link" id="v-pills-news-tab" data-toggle="pill" href="#v-pills-news" role="tab" aria-controls="v-pills-news" aria-selected="false">News</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">{% include 'user/user_inc/vertical_nav/publ_dashboard.html' %}</div>
      <div class="tab-pane fade" id="v-pills-statistics" role="tabpanel" aria-labelledby="v-pills-statistics-tab">{% include 'user/user_inc/vertical_nav/publ_statistics.html' %}</div>
      <div class="tab-pane fade" id="v-pills-sitesAndZones" role="tabpanel" aria-labelledby="v-pills-sitesAndZones-tab">{% include 'user/user_inc/vertical_nav/publ_sites.html' %}</div>
      <div class="tab-pane fade" id="v-pills-payments" role="tabpanel" aria-labelledby="v-pills-payments-tab">{% include 'user/user_inc/vertical_nav/publ_payments.html' %}</div>
      <div class="tab-pane fade" id="v-pills-support" role="tabpanel" aria-labelledby="v-pills-support-tab">{% include 'user/user_inc/vertical_nav/publ_support.html' %}</div>
      <div class="tab-pane fade" id="v-pills-api" role="tabpanel" aria-labelledby="v-pills-api-tab">{% include 'user/user_inc/vertical_nav/publ_api.html' %}</div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">{% include 'user/user_inc/vertical_nav/publ_nav_profile.html' %}</div>
      <div class="tab-pane fade" id="v-pills-news" role="tabpanel" aria-labelledby="v-pills-news-tab">{% include 'user/user_inc/vertical_nav/publ_news.html' %}</div>
    </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
$(document).ready(function() {
  $('.nav-link').click(function() {
    $('.nav-link').removeClass('active');
    $(this).addClass('active');
    var tabToShow = $(this).attr('href');
    $('.tab-pane').removeClass('show active');
    $(tabToShow).addClass('show active');
  });
});
</script>