/* Box-sizing reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

/* Typography reset */

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Link reset */
a {
  color: inherit;
  text-decoration: none;
}

/* Form element reset */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

/* List reset */
ul,
ol {
  list-style: none;
}

/* Image reset */
img {
  max-width: 100%;
  height: auto;
}
