body {
  font-family: sans-serif;
  margin: 0 !important;
}
.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.right-side {
  display: flex;
  align-items: center;
}

@media (max-width: 1005px) {
  .right-side {
    display: none;
  }
}

.time {
  color: rgb(156, 155, 155);
  text-transform: uppercase;
  font-size: 12px;
}

.current-time {
  color: #000;
  font-weight: 600;
  margin: 0 2px 0 2px;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.total-income {
  text-align: center;
  text-transform: uppercase;
}

.amount {
  color: rgb(7, 114, 146);
  font-size: 18px;
  font-weight: 600;
}

.payout {
  text-align: center;
  text-transform: uppercase;
}

.manager-data {
  display: flex;
  align-items: center;
}

.manager-data img {
  margin-right: 5px;
  width: 60px;
}

.link span {
  color: rgb(7, 114, 146);
}

.user-dropdown {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Adjust the vertical position as needed */
  right: 0;
  background: #fff;
  box-shadow: -4px 14px 31px 5px rgba(34, 60, 80, 0.2);
  padding: 10px 10px;
}


.log-out {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.active {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 1005px) {
  .mobile {
    display: block;
  }
}

.header-mobile__burger {
  display: block;
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 20px;
}

.burger-line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  top: 10px;
  right: 0;
  left: 0;
  right: 0;
}

.burger-line:before,
.burger-line:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.burger-line:before {
  transform: translateY(-7px);
}

.burger-line:after {
  transform: translateY(7px);
}

.header-mobile__burger.active .burger-line {
  transform: translateY(10px);
  background-color: transparent;
  top: 0;
}

.header-mobile__burger.active .burger-line:before {
  transform: rotate(45deg);
}

.header-mobile__burger.active .burger-line:after {
  transform: rotate(-45deg);
}
